<!-- Example row of columns -->
<% content_for :top do %>
  <%= render :partial => "partials/big_banner"%>
<% end %>

<div class="row">
  <% @petitions.each do |p| %>
    <div class="col-md-4">
      <h2><%= p.title %></h2>
      <p><%= truncate(p.statement, :length => 100) %></p>
      <p><%= link_to "View details &raquo;".html_safe, petition_path(p), :class => "btn btn-default"%></p>
    </div>
  <% end %>
</div>

<% if !@pagecount.nil? %>
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
	  <ul class="pagination">
	  	
	  	<% if @page == 1%>
	  		<li class="disabled"><a>&laquo;</a></li>
	  	<% else %>
	  		<li><a href="/petitions/page/<%= @page-1 %>">&laquo;</a></li>
	  	<% end %>
	  
			<% (1..@pagecount).each do |i| %>
				<% if @pagecount > 9 %>
					<!-- This needs to be done. Will break for over 9 pages now.-->
					
		  		<% else %>
					<% if @page == i %>
		  				<li class="active"><a href="/petitions/page/<%= i %>"><%= i %></a></li>
		  			<% else %>
		  				<li><a href="/petitions/page/<%= i %>"><%= i %></a></li>
		  			<% end %>
				<% end %>
			<% end %>
		
		<% if @page == @pagecount%>
  			<li class="disabled"><a>&raquo;</a></li>
  		<% else %>
  			<li><a href="/petitions/page/<%= @page+1 %>">&raquo;</a></li>
  		<% end %>

  	  </ul>
  	</div>
  	<div class="col-md-4"></div>
</div>
<% end %>

