<!-- Example row of columns -->
<% content_for :top do %>
  <%= render :partial => "partials/big_banner"%>
<% end %>

<div class="row">
  <% @petitions.each do |p| %>
    <div class="col-md-4">
      <h2><%= p.title %></h2>
      <p>
        <%= truncate(strip_tags(@markdown.render(p.statement)), :length => 100) %>
      </p>
      <p><%= link_to "View details &raquo;".html_safe, petition_path(p), :class => "btn btn-default"%></p>
    </div>
  <% end %>
</div>


<div class="text-center">
<%= will_paginate @petitions, renderer: BootstrapPagination::Rails, :previous_label => "&laquo;", :next_label => "&raquo;"%>
</div>


