<!-- Start petition description -->
<div class="jumbotron">
	<% if @signable %>
	 <a class="pull-right btn btn-primary visible-md visible-lg sign_petition" role="button">Sign</a>
	<% end %>
	<% if @respondable %>
		<div class="pull-right">
	    <% if @addressed %>
	      <%= link_to "Respond", edit_response_path(@my_response), :class => "btn btn-success btn-lg" %>
	    <% else %>
	      <%= link_to "Respond",  new_petition_response_path(@petition) , :class => "btn btn-success btn-lg" %>
	    <% end %>
	  	</div>
  	<% end %>
	
	<h1><%= @petition.title %></h1>
	<h2><%= raw @markdown.render(@petition.statement)%></h2>
</div>
<!-- End Petition Description-->

<!-- Start signatures -->
<div class="row">
	<div class="col-lg-6">
		<h3>Current Signatures: <%= @count %> </h3>
	</div>
	<div class="col-lg-6">
		<h3>Goal: <%= @petition.goal %></h3>
	</div>
</div>
<!-- End signatures -->

<div class="progress progress-striped active">
  <div class="progress-bar"  role="progressbar" aria-valuenow="<%= @count %>" aria-valuemin="0" aria-valuemax="<%= @petition.goal%>" style="width: <%= ((@count * 1.0) / @petition.goal) * 100 %>%">
    <span class="sr-only"><%= ((@count * 1.0) / @petition.goal) * 100 %>% Complete</span>
  </div>
</div>

<% @responses.each do |response| %>
  <div class="well">
    <p><%= response.statement.html_safe %></p>
    <span class="text-muted pull-right"><%= response.politician.name %></span>
  </div>
<% end %>

<div class="row">
<h2>Supporters:</h2>
<% @signatures.each do |signature| %>
	<!-- Switch to partials? Or at least abstract it to the signature show... -->
	<div class="col-lg-5 col-md-4" style="background-color: #EEE"> <!-- Figure out a way to style this -->
		<div class="container">
			<h2><%= signature.resident.name %></h2>
		</div>
	</div>
<% end %>
</div>

<br />

<% if @signable %>
<div class="row">
	<div class="col-md-2">
		<a class="btn btn-primary btn-lg btn-block sign_petition" role="button">Sign</a>
	</div>
</div>
<% end %>

<div class="text-center">
<%= will_paginate @signatures, renderer: BootstrapPagination::Rails, :previous_label => "&laquo;", :next_label => "&raquo;"%>
</div>

<% if @reportable %>
	<a class="pull-right btn btn-danger" id="report_petition" role="button">Report Petition</a>
<% end %>




