<!DOCTYPE html>
<html>
<head>
  <title><%= @constants.site_title %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "/assets/" << params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="civic">
  
  <%= render :partial => "partials/navigation" %>
  
  <%= content_for :top %>
  
  <div class="container">
    <% if flash[:error] %>
        <div class="alert alert-danger fade in">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= flash[:error] %>
        </div>
    <% end %>
  	<%= yield %>
  </div>
  
  <!-- Fancy footer -->
  <div id="footer">
  	<div class="container">
    	<p class="text-muted">&copy; BAA 2014</p>
    </div>
  </div>
</body>
</html>