<!DOCTYPE html>
<html>
<head>
  <title><%= @constants.site_title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "partials/navigation" %>
  
  <%= content_for :top %>
  
  <div class="container">
  	<%= yield %>
  </div>

  <hr>

  <footer>
    <p>&copy; <%= @constants.site_title %> <%= Date.today.year %></p>
  </footer>
</body>
</html>